version: '3.7'

services:
  ros:
    container_name: frankenmolder_ros
    build:
      context: .
      dockerfile: Dockerfile
    
    # --- CRITICAL FIX: Use Host Network Mode ---
    network_mode: host 
    
    privileged: true
    restart: always 
    
    # ENVIRONMENT VARIABLES CAN NOW BE SIMPLER
    environment:
      # ROS Master URI should now point to the host IP (your Tailscale IP)
      - ROS_MASTER_URI=http://100.119.150.8:11311
      # ROS_IP can be set to the host IP as well
      - ROS_IP=100.119.150.8
      
      # FOXGLOVE_BRIDGE_ADDRESS can also be removed, but setting it to localhost 
      # is often a safe bet in host mode, or you can just remove it.
      - FOXGLOVE_BRIDGE_ADDRESS=127.0.0.1 
      
    # REMOVE THE 'ports:' SECTION ENTIRELY 
    # The ports 11311 and 8080 are automatically exposed by 'network_mode: host'
    
    devices:
      - /dev/spidev0.0:/dev/spidev0.0
      
    volumes:
      - ./pi_ros_logs:/data/ros_logs 
      
    command: /bin/bash -c "source /opt/ros/noetic/setup.bash && /app/start_node.sh; sleep infinity"