version: '3.7'

services:
  ros:
    container_name: frankenmolder_ros
    build:
      context: .
      dockerfile: Dockerfile

    # --- Networking & Hardware Access ---
    network_mode: host
    privileged: true # CRITICAL: MUST be true

    # --- Run as Root (as per current Dockerfile) ---

    # --- X-FORWARDING SETUP ---
    environment:
      - DISPLAY=:0
      # ROS Networking Variables
      - ROS_MASTER_URI=http://100.119.150.8:11311
      - ROS_IP=100.119.150.8

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./pi_ros_logs:/data/ros_logs

    devices:
      # Map SPI devices
      - /dev/spidev0.0:/dev/spidev0.0
      - /dev/spidev0.1:/dev/spidev0.1
      - /dev/spidev0.2:/dev/spidev0.2
      # Map gpiomem (Essential for RPi.GPIO)
      - /dev/gpiomem:/dev/gpiomem
      # Map vchiq (optional GPU)
      - /dev/vchiq

    restart: always
    command: /bin/bash -c "source /opt/ros/noetic/setup.bash && /app/start_node.sh; sleep infinity"
    stop_signal: SIGINT